<!--The content below is only a placeholder and can be replaced.-->
<ng-progress></ng-progress>

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-blue-900">
	<div class="container container-no-margin container-head-menu">
		<nav class="nav">
				<a class="menu-top-mobile navbar-brand nav-link-head facebook social-group"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a class="menu-top-mobile navbar-brand nav-link-head twitter social-group"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a class="menu-top-mobile navbar-brand nav-link-head instagram social-group"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a class="menu-top-mobile navbar-brand nav-link-head google-plus social-group"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a class="menu-top-mobile navbar-brand nav-link-head youtube social-group"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		</nav>
		<button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#headMenu" aria-controls="headMenu" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-navicon" aria-hidden="true" style="color:#fff;"></i>
		</button>
	
		<div class="collapse navbar-collapse" id="headMenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" routerLink="/home"><i class="fa fa-envelope-o" aria-hidden="true"></i>  helpcare.official@gmail.com</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/pricing"><i class="fa fa-phone" aria-hidden="true"></i>  022 1234567 </a>
				</li>
			</ul>

			<div class="menu-top-no-mobile form-inline my-2 my-lg-0">
				<a class="nav-link-facebook social-group"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a class="nav-link-twitter social-group"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a class="nav-link-instagram social-group"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a class="nav-link-google-plus social-group"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a class="nav-link-youtube social-group"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</nav>

<nav class="navbar navbar-expand-md justify-content-end navbar-light navbar-margin-top bg-blue-800">
	<div class="container container-no-margin">
		<a class="navbar-brand" href="#"><img src="../../assets/img/logo/logo.png" alt="" width="80px" height="auto"></a>
		<button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-navicon" aria-hidden="true" style="color:#fff;"></i>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav nav justify-content-end">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/tentang">Tentang</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/fasilitas">Fasilitas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/organisasi">Organisasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/berita">Berita</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/agenda">Agenda</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


<router-outlet></router-outlet>
