<main role="main" class="margin-top">
	<div class="container container-no-margin">
	<!-- Example row of columns -->
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ml-auto mr-auto">
				<div class="card tab-post">
					<ul class="nav nav-pills nav-fill bg-blue-800" role="tablist">
						<li class="nav-item">
							<a class="nav-link padding active" data-toggle="tab" href="#home1" role="tab">Highlights</a>
						</li>
						<li class="nav-item">
							<a class="nav-link padding" data-toggle="tab" href="#profile1" role="tab">Popular</a>
						</li>
						<li class="nav-item">
							<a class="nav-link padding" data-toggle="tab" href="#messages1" role="tab">Random</a>
						</li>
					</ul>
					<div class="card-body no-padding-top-bottom">
						<!-- Tab panes -->
						<div class="tab-content text-center">
							<div class="tab-pane active" id="home1" role="tabpanel">
								<ul class="list-group no-border">
									<li class="list-group-item">Hightlight 1</li>
									<li class="list-group-item">Hightlight 2</li>
									<li class="list-group-item">Hightlight 3</li>
									<li class="list-group-item">Hightlight 4</li>
									<li class="list-group-item">Hightlight 5</li>
								</ul>
							</div>
							<div class="tab-pane" id="profile1" role="tabpanel">
								<ul class="list-group no-border">
									<li class="list-group-item">Popular 1</li>
									<li class="list-group-item">Popular 2</li>
									<li class="list-group-item">Popular 3</li>
									<li class="list-group-item">Popular 4</li>
									<li class="list-group-item">Popular 5</li>
								</ul>
							</div>
							<div class="tab-pane" id="messages1" role="tabpanel">
								<ul class="list-group no-border">
									<li class="list-group-item">Random 1</li>
									<li class="list-group-item">Random 2</li>
									<li class="list-group-item">Random 3</li>
									<li class="list-group-item">Random 4</li>
									<li class="list-group-item">Random 5</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Tabs on plain Card -->
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 carousel-home margin-top-col">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					
					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="../../assets/img/carousel/img-one.jpg" alt="Image1" width="100%">
						</div>
						<div class="carousel-item">
							<img src="../../assets/img/carousel/img-two.jpg" alt="Image 2" width="100%">
						</div>
						<div class="carousel-item">
							<img src="../../assets/img/carousel/img-three.jpg" alt="Image 3" width="100%">
						</div>
					</div>
					
					<!-- Left and right controls -->
					<a class="carousel-control-prev" data-target="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" data-target="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>	
				</div>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
				<div class="card tab-post">
					<ul class="nav nav-pills bg-blue-800" role="tablist">
						<li class="nav-item">
							<div class="nav-link padding active default-cursor">Pengumuman</div>
						</li>
					</ul>
					<div class="card-body no-padding">
						<div id="pengumuman">
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingPengumumanOne">
									<h5 class="mb-0">
										<button class="btn btn-link" data-toggle="collapse" data-target="#pengumumanOne" aria-expanded="true" aria-controls="pengumumanOne">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Pengumuman 1
										</button>
									</h5>
								</div>
								<div id="pengumumanOne" class="collapse show" aria-labelledby="headingPengumumanOne" data-parent="#pengumuman">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingPengumumanTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pengumumanTwo" aria-expanded="false" aria-controls="pengumumanTwo">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Pengumuman 2
										</button>
									</h5>
								</div>
								<div id="pengumumanTwo" class="collapse" aria-labelledby="headingPengumumanTwo" data-parent="#pengumuman">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingPengumumanThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pengumumanThree" aria-expanded="false" aria-controls="pengumumanThree">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Pengumuman 3
										</button>
									</h5>
								</div>
								<div id="pengumumanThree" class="collapse" aria-labelledby="headingPengumumanThree" data-parent="#pengumuman">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-margin-top no-padding">
					<button type="button" class="btn btn-outline-primary no-border-radius width-100">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i> Lihat Semua Pengumuman
					</button>
				</div>
			</div><!-- /.col-lg-4 -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 margin-top-col">
				<div class="card tab-post">
					<ul class="nav nav-pills bg-blue-800" role="tablist">
						<li class="nav-item">
							<div class="nav-link padding active default-cursor">Berita</div>
						</li>
					</ul>
					<div class="card-body no-padding">
						<div id="berita">
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingBeritaOne">
									<h5 class="mb-0">
										<button class="btn btn-link" data-toggle="collapse" data-target="#beritaOne" aria-expanded="true" aria-controls="beritaOne">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Berita 1
										</button>
									</h5>
								</div>
								<div id="beritaOne" class="collapse show" aria-labelledby="headingBeritaOne" data-parent="#berita">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingBeritaTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#beritaTwo" aria-expanded="false" aria-controls="beritaTwo">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Berita 2
										</button>
									</h5>
								</div>
								<div id="beritaTwo" class="collapse" aria-labelledby="headingBeritaTwo" data-parent="#berita">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingBeritaThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#beritaThree" aria-expanded="false" aria-controls="beritaThree">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Berita 3
										</button>
									</h5>
								</div>
								<div id="beritaThree" class="collapse" aria-labelledby="headingBeritaThree" data-parent="#berita">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-margin-top no-padding">
					<button type="button" class="btn btn-outline-primary no-border-radius width-100">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i> Lihat Semua Berita
					</button>
				</div>
			</div><!-- /.col-lg-4 -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 margin-top-col">
				<div class="card tab-post">
					<ul class="nav nav-pills bg-blue-800" role="tablist">
						<li class="nav-item">
							<div class="nav-link padding active default-cursor">Agenda</div>
						</li>
					</ul>
					<div class="card-body no-padding">
						<div id="agenda">
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingAgendaOne">
									<h5 class="mb-0">
										<button class="btn btn-link" data-toggle="collapse" data-target="#agendaOne" aria-expanded="true" aria-controls="agendaOne">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Agenda 1
										</button>
									</h5>
								</div>
								<div id="agendaOne" class="collapse show" aria-labelledby="headingAgendaOne" data-parent="#agenda">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingAgendaTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#agendaTwo" aria-expanded="false" aria-controls="agendaTwo">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Agenda 2
										</button>
									</h5>
								</div>
								<div id="agendaTwo" class="collapse" aria-labelledby="headingAgendaTwo" data-parent="#agenda">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
							<div class="card no-border">
								<div class="card-header padding-card-header" id="headingAgendaThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#agendaThree" aria-expanded="false" aria-controls="agendaThree">
											<i class="fa fa-newspaper-o" aria-hidden="true"></i> Agenda 3
										</button>
									</h5>
								</div>
								<div id="agendaThree" class="collapse" aria-labelledby="headingAgendaThree" data-parent="#agenda">
									<div class="card-body">
										lorem ipsum...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-margin-top no-padding">
					<button type="button" class="btn btn-outline-primary no-border-radius width-100">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i> Lihat Semua Agenda
					</button>
				</div>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->

		<div class="row margin-top">
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
				<div class="card tab-post">
					<ul class="nav nav-pills bg-blue-800" role="tablist">
						<li class="nav-item">
							<div class="nav-link padding active default-cursor">Photo Galery</div>
						</li>
					</ul>
					<div class="card-body">
						<!-- Tab panes -->
						<div class="tab-content text-center">
							<div class="tab-pane active" role="tabpanel">
								<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-margin-top no-padding">
					<button type="button" class="btn btn-outline-primary no-border-radius width-100">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i> Lihat Semua Photo
					</button>
				</div>
			</div><!-- /.col-lg-4 -->
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 margin-top-col">
				<div class="card tab-post">
					<ul class="nav nav-pills bg-blue-800" role="tablist">
						<li class="nav-item">
							<div class="nav-link padding active default-cursor">Video</div>
						</li>
					</ul>
					<div class="card-body">
						<!-- Tab panes -->
						<div class="tab-content text-center">
							<div class="tab-pane active" role="tabpanel">
								<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-margin-top no-padding">
					<button type="button" class="btn btn-outline-primary no-border-radius width-100">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i> Lihat Semua Video
					</button>
				</div>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
	</div> <!-- /container -->
</main>

<app-footer></app-footer>